<h1>Add New Garment</h1>
<%= form_tag '/garments', method: :post do  %>
  <div>
    Title: <input type="text" name="title">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    Size: 
    <select>
      <option value="Extra Small">XS</option>
      <option value="Small">Small</option>
      <option value="Medium">Medium</option>
      <option value="Large">Large</option>
      <option value="Extra Large">XL</option>
      <option value="XX Large">XXL</option>
    </select>
  </div>
  <div>
    Material: <input type="text" name="material">
  </div>
  <div>
    Condition: <input type="text" name="condition">
  </div>
  <div>
    Category: 
    <select>
      <option value="Mens">Mens</option>
      <option value="Womens">Womens</option>
      <option value="Kids">Kids</option>
      <option value="Accessories">Accessories</option>
    </select>
  </div>
  
  <input type="submit" value="Submit">
<% end %>