<div><%= render 'navbar' %></div><br>
<h1>Add New Garment</h1>
<%= form_tag '/garments', method: :post do  %>
  <div>
    Title: <input type="text" name="title">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    Size: <input type="text" name="size">
  </div>
  <div>
    Material: <input type="text" name="material">
  </div>
  <div>
    Condition: <input type="text" name="condition">
  </div>
  <div>
    Category: 
    <select>
      <option value="Mens">Mens</option>
      <option value="Womens">Womens</option>
      <option value="Kids">Kids</option>
      <option value="Accessories">Accessories</option>
    </select>
  </div>
  
  <input type="submit" value="Submit">
<% end %>

<button class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#signup_form">Sign Up</button>
<div id="signup_form" class="collapse">
        <ul style="list-style-type:none;">
          <%= form_tag '/users', method: :post do  %>
            <li><input type="text" name="name" placeholder="name"></li>
            <li><input type="email" name="email" placeholder="email"></li>
            <li><input type="password" name="password" placeholder="password"></li>
            <li><input type="password" name="password_confirmation" placeholder="confirm password"></li>
            <li><input type="submit" value="Submit"></li>
          <% end %>
        </ul>
      </div>