<h2>Single Garment Show Landing page</h2>
<section>
  <div class="row">

    
      <div class="col-sm-4">
        <div class="garment_single">
            <h2><%= @garment.title %></h2>
            <p>Description: <%= @garment.description %></p>
            
        </div>
      </div>
    
  </div>
</section>